
body {
    margin: -58px;
    padding: 0px;
    height: 100vh;
    background-color: #262626;
}

.escala {
        --tw-scale-x: .90;
        --tw-scale-y: .90;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    
}

.cerrar{
    display: none;
}

.abrir {
    display: block;
}